.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    /* min-height: 100vh; */
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    background-color: #282c34;
    /* min-height: 100vh; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.info-group {
    border: 3px double orange;
    display: flex;
    flex-direction: row;
    height: 4rem;
}

.info-buttons {
    border: 3px double green;
    display: flex;
    flex-direction: row;
}

.info-button {
    border: 3px double green;
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 6rem;
}

.info-data {
    border: 3px double blue;
    display: flex;
    flex-direction: row;
}

.info-data__group {
    border: 3px double blue;
    display: flex;
    flex-direction: column;
}

.info-data__label {
    border: 3px double blue;
    display: flex;
    flex-direction: row;
    width: 5rem;
}

.info-data__value {
    border: 3px double blue;
    display: flex;
    flex-direction: row;
    width: 5rem;
}


/* .db-data__area { */

.db-show__area {
    border: 3px double blue;
    display: flex;
    flex-direction: row;
}

.db-data__group {
    border: 3px double blue;
    display: flex;
    flex-direction: column;
}

.db-data__label {
    border: 3px double blue;
    display: flex;
    flex-direction: row;
}

.db-data__rows {
    border: 3px double blue;
    display: flex;
    flex-direction: column;
}

.db-data__table {
    border: 3px double lightgray;
    border: 5px double yellow;
    /* display: flex; */
    flex-direction: column;
    pad: 2px;
    margin: 2p;
}

.db-data__table-row {
    border: 3px double lightgray;
    border: 5px double yellow;
    /* display: flex; */
    flex-direction: column;
    pad: 2px;
    margin: 2p;
    /* font-size: 1.1rem; */
    /* font-size: 1.5rem; */
    /* font-size: .85rem; */
    /* font-size: .95rem; */
    font-size: 1rem;
}

.db-datum__area {
    border: 3px double blue;
    display: flex;
    flex-direction: column;
}

.db-datum__group {
    border: 3px double lightgray;
    display: flex;
    flex-direction: column;
}

.db-datum__area-head {
    border: 3px double orange;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.db-datum__area-head p {
    /* border: 3px double orange; */
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    margin: 2px;
    padding: 3px;
    box-sizing: border-box;
    box-shadow: grey;
    box-shadow: 6px -2px teal;
    box-shadow: 3px 2px teal;
}

.db-datum__label {
    border: 3px double blue;
    display: flex;
    flex-direction: row;
}

.db-datum__values {
    border: 3px double blue;
    display: flex;
    flex-direction: column;
}

.db-datum__value {
    border: 3px double blue;
    display: flex;
    flex-direction: row;
}

.feriado-form {
    border: 5px double greenyellow;
    display: flex;
    flex-direction: column;
}

.feriado-form-head {
    border: 5px double greenyellow;
    display: flex;
    flex-direction: row;
}

.feriado-table {
    border: 5px solid black;
    display: flex;
    /* flex-direction: column; */
}

.feriado__table-body {
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
}

.feriado__row {
    border: 5px solid gree;
    display: flex;
    flex-direction: column;
}

.feriado__row-label {
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
}

.feriado__row-value {
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
}

.feriado__row-value__invalid {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
}

.feriado__table-head {
    border: 5px solid gree;
    display: flex;
    flex-direction: column;
}

.feriado__head-label {
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
}

.feriado__head-value {
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
}

.feriado__head-value__invalid {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
}

.feriado__value-title,
.feriado__value-show,
.feriado__value-get {
    font-size: 1.3rem;
}

.feriado__value-title {
    border: 1px dotted red;
    font-weight: 500;
    text-align: right;
    padding-right: 1rem;
    width: 6rem;
}

.feriado__value-show {
    border: 1px dotted red;
}

.feriado__value-get {
    border: 3px dotted red;
    /* display: none; */
}

.feriado__head-label__get {
    border: 3px dotted red;
    /* display: none; */
}

.feriado__buttons {
    border: 3px dotted red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feriado__button {
    width: 10rem;
}

.field-error {
    color: red;
    font-size: .7em;
    font-weight: 500;
    border: 3px solid orange;
    margin: 1px;
}

.field-ok {
    color: red;
    font-size: .7em;
    font-weight: 500;
    border: 3px solid gray;
    border: 3px solid transparent;
    margin: 1px;
    ;
}

input {
    font-size: 1.3rem;
}